/* ***************************** */
/* max-width: 84em (1344px) */
/* **************************** */
@media (max-width: 84em) {
  .navbar {
    width: 100%; /*Allow the navbar to scale with the container */
    /* max-width: 100%; */
    padding: 4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-content {
    max-width: 80%; /* Reduce max-width for better fit */
    /* text-align: center; Center the text */
  }

  .hero-content h1 {
    font-size: 4.4rem; /* Adjust font-size for better fit */
  }

  .hero-content p {
    font-size: 1.8rem; /* Slight reduction for smaller screens */
  }
}
/* ********************************* */
/* max-width: 75em (1200px) */
/* ********************************* */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .h-content {
    max-width: 60%;
  }
  .heading-primary {
    font-size: 5.2rem;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .services-container {
    /* gap: 2.4rem; */
    padding: 0 6.4rem;
    /* grid-template-columns: repeat(2, 1fr); */
  }

  /* .service-card {
    max-width: 100%;
    height: auto;
  } */
  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }

  .card-body {
    padding: 0 2.4rem 2.4rem 2.4rem;
  }
  .cta {
    grid-template-columns: 3fr 2fr;
  }
}

/* *************************** */
/* max-width: 59em (944px) */
/* ********************* */
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .section-testimonials {
    grid-template-columns: 1fr;
  }
  testimonials-container {
    padding: 9.6rem;
  }
  .gallery {
    grid-template-columns: repeat(4, 3fr);
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }
  .contacts-cta {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }
  .btn-mobile-nav {
    display: block;
  }
  .nav-links {
    background-color: #ffffffe3;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4.8rem;
    z-index: 10;
    transition: all 0.5s ease-in;

    transform: translateX(100%);

    /* hide nav */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .nav-links {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
    color: #333;
  }
  .navlink:link,
  .navlink:visited {
    font-size: 3rem !important;
    color: #555 !important;
  }
}

/* ************************** */
/* max-width: 44em (704px) */
/* ************************** */
@media (max-width: 44em) {
  .hero-content h1 {
    font-size: 3.6rem;
  }
  .hero-content p {
    font-size: 1.8rem;
    line-height: 1.4;
  }
  .ctabutton:link,
  .ctabutton:visited {
    font-size: 1.8rem;
    padding: 1.4rem 2.8rem;
  }
}

/* *************************** */
/* max-width: 34em (544px) */
/* ************************** */
@media (max-width: 34em) {
}
